$base-text-color: rgba(0, 0, 0, 0.87);
$base-bg: #fff;
$base-border-color: #e0e0e0;
$base-accent: #FF5722;
$base-border-radius: 4px;


$info : rgb(242, 218, 218);
$light : white;
$button-primary : #66ACFA;
$primary : #66ACFA;
$danger : red;
$primary-light : #ACD3FF;
$danger-light : #FF6B57;
$secondary : #FF6600;
$white : white;
$warning : #FFFF00;